<div class="center">
	<div id="countdown">
		<div id="counter"></div>
	</div>
</div>

<div id="prevthumb"></div>
<div id="nextthumb"></div>

<div id="thumb-tray" class="load-item">
	<div id="thumb-back"></div>
	<div id="thumb-forward"></div>
</div>